{% extends "index.html" %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            
            {% for post in all_posts %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.body | truncate(150, True) }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Me</a>
                    on {{ post.pub_date.strftime('%Y-%m-%d') }}
                </p>
            </div>
            
            <hr class="my-4" />
            {% else %}
            <p class="text-center">Brak wpisów.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}